h1  {
  text-align: center;
  color: black;
}

h1.title{
  color: blue;
}
h2 {
  color: blue;
  text-decoration: underline;
}
h1#prof {
  color: black;
  font-size: 50px;
  margin: 0;
  margin: 0;
}
h2#extrainfo {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  line-height: 10px;
}

body {
   background-image:linear-gradient(#3B3B3B ,#8C8C8C );
}

img {
  width: 250px;
  height: 250px;
  border: 10px ridge #767696;
  margin: 25px 0;
}

hr {
  color: #767696;
  border-width: 3px;
}

#profile {
text-align: center;
}

#info {
display: flex;
justify-content: center;
}

section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}


#rev {
  text-align: center;
}

table{
 width: 500px;
 border-top: 1px black solid;
}
th{
 width: 100px;
 text-align: left;
 padding: 10px;
}
td{
 width: 300px;
 text-align: left;
 padding: 10px;
}

#form-review {
  line-height: 3;
  display: block;
}

textarea {
  width: 500px;
  height: 200px;
}

.button {
  width: 60px;
  height: 20px;
}
.button-submit {
  width: 80px;
  height: 50px;
}
