h1  {
  text-align: center;
  color: rgb(118, 118, 150);
}
h3 {
  color: rgb(118, 118, 150);
}

body {
   background-image:linear-gradient(#3B3B3B ,#8C8C8C );
}

img {
  width: 250px;
  height: 250px;
  border: 10px ridge #767696;
  margin: 25px 0;
}

hr {
  color: #767696;
  border-width: 3px;
}

#profile {
text-align: center;
}

#info {
display: flex;
justify-content: center;
}

section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

h1#prof {
  font-size: 50px;
  margin: 0;
  margin: 0;
  -webkit-text-fill-color: #767696; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #000000;
}

h2#extrainfo, p#extrainfo {
  margin: 0;
  -webkit-text-fill-color: #767696; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #000000;
}

#rev {
  text-align: center;
}

table{
 width: 500px;
 border-top: 1px black solid;
}
th{
 width: 100px;
 text-align: left;
 padding: 10px;
}
td{
 width: 300px;
 text-align: left;
 padding: 10px;
}

#form-review {
  line-height: 3;
  display: block;
}

textarea {
  width: 500px;
  height: 200px;
}
